body{
    background-color: teal;
}
.query{
    background-color: white;
    min-height: 600px;
    margin-top:30px;
    padding:15px;
    border-radius: 10px;
}
@media only screen and (max-width:600px){
    .query{
        margin-top: 10px;
        border-radius: 0;
    }
}
table{
    min-width:700px;
}
#clipboard{
    opacity:0;
}
.copy{
    height:30px;
    width:30px;
    position: relative;
}
.copy svg{
    position: absolute;
    height: 30px;
    width: 30px;
}
.email_col{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    background-color:rgb(240, 240, 240);
}
.delete{
    background-color: tomato;
    transition:all 0.3s;
}
.delete:hover,.delete:focus{
    background-color:rgb(202, 37, 8);
}
.delete svg {
    width:30px;
    height: 30px;
    margin:auto;
    position: relative;
    fill:white;
    display: block;
}
.replied{
    background-color:turquoise;
    text-align:center;
}